<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>html</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>this is came from html</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum
      blanditiis temporibus omnis exercitationem sed, hic asperiores eligendi ea
      sint velit.
    </p>
    <script src="/javascripts/templatejs.js"></script>
  </body>
</html>
