<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Login-Page!</h1>
    <div>
      <form action="/login" method="post">
        <label>gmail</label>
        <input type="text" placeholder="gmail.." name="gmail" />
        <label>password</label>
        <input type="text" placeholder="password.." name="password" />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
