<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Register forms</h1>
    <div>
      <form action="/register" method="post">
        <label>name</label>
        <input type="text" placeholder="name" name="name" />
        <label>gmail</label>
        <input type="text" placeholder="gmail.." name="gmail" />
        <label>pass</label>
        <input type="text" placeholder="password.." name="password" /> <br />
        <hr />

        <input type="submit" />
      </form>
    </div>
  </body>
</html>
